/* --fonts-- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* --common style-- */
body{
    font-family: 'Poppins', sans-serif;
}
 
/* ---top container--- */
.heading{
    padding-left: 10%;
    padding-bottom:5% ;
}
.para-margin{
    
    padding-bottom:5px;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.first-container{
    display: flex;
    padding-bottom:40px;
}
.link-button{
    text-decoration: none;
    padding: 10px 40px;
    background-color:crimson;
    border-radius: 40%;
    color: white;
    
}
.img-edit{
    width:440;
    height:414;
    padding-right:20%;
    transition-duration:3s;
    rotate: 30deg;
}
    
    
.sec-heading{
    text-align: center;
    padding-bottom:5%;
}
.collection-items{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    padding-left: 10%;
    align-items: center;
    
}
.see-button{
    text-decoration: none;
    text-align-last: right;
    color: crimson;
    padding-top: 4%;
    padding-left: 84%;
}
.para-edit{
    padding-right:10%;
}
.last-sec{
    padding-top:5%;
}